#page-testimonials {
  display: flex;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* details */

.title {
  width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid #d3e2e5;

  text-align:center;
  color:   #4d6f80;
  font-size: 4rem;

  border-radius: 2rem;
  overflow: hidden;
  padding: 4rem;
}

.form {
  width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid #d3e2e5;

  color:   #4d6f80;

  border-radius: 2rem;
  overflow: hidden;
  padding: 4rem;
}

.form h3 {
  margin-bottom: 2.4rem;
}

.testimonials-details {
  width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid #d3e2e5;

  border-radius: 2rem;
  overflow: hidden;
}

.testimonials-details {
  padding: 4rem;
}

.testimonials-details h3 {
  font-size: 3rem;
  line-height: 1.5rem;
  color: #4d6f80;
}

.testimonials-details p {
  line-height: 1.4;
  color: #5c8599;
  margin-top: 2.4rem;
}
