<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sobre | Happy</title>

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/sidebar.css" />
  <link rel="stylesheet" href="/css/buttons.css" />
  <link rel="stylesheet" href="/css/page-orphanage.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="page-orphanage">
    <aside class="animate-right sidebar">

      <img onclick="location.href='./'" style="cursor: pointer;" src="./images/map-marker.svg" alt="Happy">

      <footer>
        <button onclick="history.back()">
          <img src="/images/arrow-back.svg" alt="Voltar">
        </button>
      </footer>
    </aside>

    <main class="animate-appear with-sidebar">
      <div class="orphanage-details">
        <img src="./images/NLw3.png" alt="Next Level Week 3" style="object-fit: cover" />


        <div class="orphanage-details-content">
          <h1 style="text-align: center">A Base de Tudo</h1>
          <p>
            O Happy foi desenvolvido originalmente como parte da Next Level Week 3ª edição, um evento proporcionado pela Rocketseat, 
          uma instituição de educação de Rio do Sul, Santa Catarina.
          </p>
          <p>
          O objetivo do evento é demonstrar aos participantes como desenvolver uma simples aplicação web do 0. Sendo assim, 99% do que é o Happy hoje foi desenvolvido
          durante o evento pelos professores enquanto os participantes acompanhavam o processo em seus próprios computadores. Erros e dúvidas eram rapidamente resolvidos entrando
          em contato através de mensagens com a equipe da Rocketseat. Dessa forma cada participante pode desenvolver uma cópia da aplicação em sua casa. O desenvolvimento durou 5 dias,
          com aulas de 2 à 3h por dia, o que não leva em conta a quantidade de pausas e/ou vezes em que a aula foi reasistida para que tudo saísse feito corretamente. 
          </p>
          <p>
          Como desafio final, foi proposto que cada participante incrementasse a aplicação com algo que lhe tornaria "sua".
          </p>
          <p  style="text-align: center">
            <a href="https://rocketseat.com.br/" target="_blank">Clique aqui para conhecer a Rocketseat</a>
          </p>
          <hr />

          <h2>As Mudanças</h2>

          <p>
            Originalmente a aplicação se centralizava na cidade de Rio do Sul. Abrangia apenas orfanatos. Não havia sistema de autenticação, de forma que qualquer pessoa poderia 
            adicionar uma instituição ao mapa. 
          </p>
          <p>
            Devido ao tema de levar alegria, minhas adições foram de abrir a aplicação também para casas de repouso. Adicionar esta página, a página de login e de testemunhos.
            Todas essas ideias visando aumentar o alcance e credibilitade de aplicação.
            No momento essas implementações encontram-se somente na parte visual, não estão funcionais.
          </p>
          <p  style="text-align: center">
            Conheça mais sobre mim e outros projetos que desenvolvo no: 
            <a href="https://www.linkedin.com/in/guilhermepirani/" target="_blank">LinkedIn</a> -- 
            <a href="https://github.com/guilhermepirani" target="_blank">Github</a> -- 
            <a href="https://guilherme-pirani.medium.com/" target="_blank">Medium</a>
          </p>

    </main>
  </div>
</body>

</html>